<div class="w-full flex justify-between items-center">
  <div class="inline-block">
    <a href="<%= root_path %>">
      <%= image_tag 'logo.png', class:'w-16 inline-block' %>
    </a>
    <%= link_to "宏大廚具", root_path, class:'text-lg text-red-600 font-extrabold' %>
  </div>
  <div class="inline-block">
    <%= link_to "作品集", products_path, class:'text-lg text-red-600 font-extrabold hover:duration-1000 hover:underline' %>
    <%= link_to "關於宏大", about_path, class:'text-lg text-red-600 font-extrabold hover:duration-1000 hover:underline' %>
    <%= link_to "聯絡我們", contact_path, class:'text-lg text-red-600 font-extrabold hover:duration-1000 hover:underline' %>
  </div>
</div>
